@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
:root {
    --material-icons-color: black;
    --field-color: gray;
    --field-background: white;
    --field-background-hover: #eee;
    --input-background: #eee;
    --overlay-background: rgba(245, 158, 114, 0.8);
    --overlay-caption-color: #eb4a40;
    --overlay-content-background: linear-gradient(white, #fde0c5);

    --header-background: linear-gradient(to right, #eb4a40, #f59e72);
    --main-panel-background: linear-gradient(white, #fde0c5);
    --online-users-panel-background: linear-gradient(to right, #fde0c5, #facba6);
    --chat-panel-background: none;

    --title-color: white;
    --caption-color: white;

    --font-color: black;
    --date-color: gray;

    --register-form-background: linear-gradient(#fde0c5, #facba6);
    --warning-color: red;

    --button-color: white;
    --button-background: coral;
    --button-background-hover: #f8b58b;
    --button-border-color: #4d2e00;
}
* {
    font-family: "VT323", monospace;
    color: var(--font-color);
    box-sizing: border-box;
}

/* Basic */
body {
    min-width: 600px;
    min-height: 300px;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(./resources/menu_background.png);
    background-size: cover;
}
.center { text-align: center; }
.shadow { box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4); }

/* Google icon */
.material-icons {
    color: var(--material-icons-color);
}

/* Flexbox related */
.row, .col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.col { flex-direction: column; }
.spacer-0 { width: 0; height: 0; }
.spacer-1 { width: 5px; height: 5px; }
.spacer-2 { width: 10px; height: 10px; }
.spacer-grow { flex-grow: 1; }

/* Overlay */
.overlay {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: var(--overlay-background);
}
.overlay .caption {
    font-size: 120%;
    color: var(--overlay-caption-color);
}
.overlay .content {
    background: var(--overlay-content-background);
}
.warning {
    font-weight: bold;
    color: var(--warning-color);
}

/* Form related */
form input, form select {
    width: 100%;
}
input, select {
    font-size: 1em;
    background: var(--input-background);
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 3px 3px 0px lightgray inset;
}
input::placeholder, select {
    color: gray;
}
button {
    font-weight: bold;
    height: 40px;
    border: 2px solid var(--button-border-color);
    color: var(--button-color);
    background: var(--button-background);
    box-shadow: 3px 3px 0px lightsalmon inset;
    padding: 0 20px;
    transition: 1s background;
    cursor: pointer;
    font-size: 1.2em;
}
button:hover {
    background: var(--button-background-hover);
}
button:active {
    margin: 2px -2px -2px 2px;
    box-shadow: 0px 0px;
}
button::after{
    content: '';
    display: block;
    position: relative;
    border-bottom: 3px solid rgb(100, 50, 0, 0.3);
    bottom: -6px;
    left: -20px;
    width: calc(100% + 40px);
}
button.icon {
    height: inherit;
    border: none;
    border-radius: 2px;
    background: none;
    box-shadow: none;
    padding: 3px 5px;
    padding-top: 5px;
}
button.icon * {
    color: white;
}
button.icon:hover {
    background: var(--button-background-hover);
}
button.icon:active {
    margin: 2px -2px -2px 2px;
}

/* Data field caption and content */
.field-content {
    border-radius: 50px;
    padding: 10px 15px;
    background: var(--field-background);
    transition: 1s background;
}
.field-content * {
    color: var(--field-color);
}
.field-content:hover {
    background: var(--field-background-hover);
}
.user-name {
    white-space: nowrap;
}

/* Top level container */
#container {
    align-items: stretch;
    gap: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
}

/* Game Menu */
#header {
    height: 80px;
    background: var(--header-background);
    padding: 0 20px;
}
#main-menu{
    padding: 50px;
    width: fit-content;
}
#menu-title{
    font-size: 6em;
    color: var(--title-color);
    user-select: none;
}
#user-panel {
    padding: 10px;
    display:flex;
    justify-content: center;
}
#user-panel div {
    cursor: pointer;
    font-size: 2em;
    color: var(--title-color);
}
#menu-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu-option button {
    width: 164px;
    margin: 10px;
}

/* Main panel */
#main-panel {
    height: calc(100% - 80px);
    background: var(--main-panel-background);
}

/* Chat area */
#chat-panel {
    flex-grow: 1;
    align-items: stretch;
    height: 100%;
    background: var(--chat-panel-background);
    padding: 0;
}
#chat-area {
    height: 100%;
    align-items: flex-start;
    justify-content: start;
    gap: 20px;
    overflow-y: auto;
    padding: 10px;
}
.chat-message-panel {
    align-items: flex-start;
    padding: 0;
}
.chat-message {
    align-items: start;
    gap: 5px;
    padding: 0;
}
.chat-date {
    font-size: 75%;
    color: var(--date-color);
}

/* Online users panel */
#online-users-panel {
	flex: 0 0 250px;
    height: 100%;
    padding: 0;
    background: var(--online-users-panel-background);
}
#online-users-area {
    flex-grow: 1;
    width: 100%;
    align-items: flex-start;
    justify-content: start;
    overflow-y: auto;
}

/* Signin overlay */
#signin-form {
    width: 270px;
    align-self: stretch;
}
#register-form {
    width: 380px;
    background: var(--register-form-background);
    padding: 20px;
}

/* Edit user overlay */
#edit-user-form {
    width: 270px;
    align-self: stretch;
}

#typing-message {
    padding: 0px 15px;
    font-style: italic;
}

/* ******************************************************************* */
#game-container {
    position: relative;
    font-family: "Press Start 2P", sans-serif;
    background: url(resources/body_background.jpg);
    background-size: cover;
    height: 100vh;
}
canvas {
    position: relative;
    top: 2vh;
    left: 1vw;
    bottom: 2vh;
}
#counter, #game-start, #game-over {
    position: absolute;
    top: 2vh;
    left: 1vw;
}
canvas, #game-start, #game-over {
    border: 1px solid gray;
    width: 48vw;
    height: 96vh;
}
#player-field {
    background-image: radial-gradient(
        rgba(0, 100, 255, 0.05),
        rgba(0, 100, 255, 0.15)
    ), url(resources/floor.png);
    background-size: 64px 64px;
    background-repeat: repeat;
}
#enemy-field {
    background-image: radial-gradient(
        rgba(255, 0, 0, 0.05),
        rgba(255, 0, 0, 0.15)
    ), url(resources/floor.png);
    background-size: 64px 64px;
    background-repeat: repeat;
}
#game-start, #game-over {
    background: rgba(1, 1, 1, 0.8);
}
#counter text {
    font-size: 130%;
    fill: white;
    stroke: white;
    stroke-width: 1px;
}
#game-start text {
    font-size: 150%;
    fill: white;
    text-anchor: middle;
}
#game-start #game-title {
    font-size: 400%;
    fill: url(#title-fill);
    stroke: black;
}
#game-over text {
    font-size: 120%;
    fill: url(#game-over-fill);
    text-anchor: middle;
}
/* 8-bit theme */
.retro {
    box-shadow: 5px 5px 0px rgba(245, 158, 114, 0.4) inset;
    border: 2px solid #4d2e00;
}
.retro::after {
    content: '';
    display: block;
    position: absolute;
    border-bottom: 4px solid rgb(100, 50, 0, 0.4);
    bottom: calc(50vh - 198px);
    left: calc(50vw - 357px);
    width: 714px;
}

#leaderboard-title{
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
}

.leaderboard-list-name{
    display: inline-block;
    text-align: center;
    width: 49%;
}

.leaderboard-list-win{
    display: inline-block;
    text-align: center;
    width: 49%;
}

.leaderboard-item{
    display: block;
    width: 100%;
}

.leaderboard-item-border{
    border: 2px solid orange;
    border-radius: 16px;
    margin-top:10px;
    padding-top: 5px;
    padding-bottom: 5px;

}

#leaderboard-panel{
    overflow: auto;
}

#win-panel{
    background:rgba(114, 182, 245, 0.8);
}

#fair-panel{
    background:rgba(114, 245, 147, 0.8);
}

#lose-panel{
    background:rgba(245, 129, 114, 0.8);
}
